<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div id="main-container"></div>

    <script type="text/javascript" src="app-front/vendor.js"></script>
    <script type="text/javascript" src="app-front/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1uwJPvpvFcPfXRDO7OK2tLxcqtmE9Atw"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
