<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="main-container"></div>

    <script type="text/javascript" src="app-front/vendor.js"></script>
    <script type="text/javascript" src="app-front/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1uwJPvpvFcPfXRDO7OK2tLxcqtmE9Atw"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
