{% extends 'admin.html.twig' %}

{% block body %}
    <h1>Comments</h1>

    <table id="datatable" class="table table-striped">
        <thead>
            <tr class="headings">
                <th class="column-title">Created at</th>
                <th class="column-title">Description</th>
                <th class="column-title"></th>
            </tr>
        </thead>
        <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.created|date("d-m-Y") }}</td>
                        <td>{{ comment.description|e }}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}
{% block javascripts %}

{% endblock %}
